{{- $data := getJSON $.Site.Params.api -}}
{{- $testimonials := index $data "testimonials" -}}
{{- if isset $testimonials (.Get "for") -}}
{{- $testimonial := index $testimonials (.Get "for") -}}
{{- if ne (.Get "photo") "true" -}}
<blockquote>
	{{ index $testimonial "quote" | safeHTML }}
	{{- if isset $testimonial "url" -}}
	<cite>- <a href="{{ index $testimonial "url" }}">{{ index $testimonial "name" }}</a></cite>
	{{- else -}}
	<cite>- {{ index $testimonial "name" }}</cite>
	{{- end -}}
</blockquote>
{{- else -}}
<div class="row">
	<div class="grid-third">
		<img class="aligncenter margin-bottom-small img-circle" height="150" width="150" src="https://gomakethings.com{{ index $testimonial "photo" }}">
	</div>
	<div class="grid-two-thirds">
		<blockquote>
			{{ index $testimonial "quote" | safeHTML }}
			{{- if isset $testimonial "url" -}}
			<cite>- <a href="{{ index $testimonial "url" }}">{{ index $testimonial "name" }}</a></cite>
			{{- else -}}
			<cite>- {{ index $testimonial "name" }}</cite>
			{{- end -}}
		</blockquote>
	</div>
</div>
{{- end -}}
{{- end -}}