<form action="https://gomakethings.us1.list-manage.com/subscribe/post?u=f2d244c0df42a0431bd08ddea&amp;id=aeaa9dd034" method="post" id="mailchimp-form" name="mc-embedded-subscribe-form" target="_blank">
	<div class="row">
		<div class="grid-two-thirds">
			<div class="tarpit">
				<label for="name">Don't fill this field in</label>
				<input type="text" name="b_f2d244c0df42a0431bd08ddea_aeaa9dd034" id="name" value="">
			</div>
			<div>
				<label class="screen-reader" for="mailchimp-email">Email Address</label>
				<input type="email" name="EMAIL" id="mailchimp-email" placeholder="Your email address..." required>
			</div>
			<input type="hidden" name="group[6981][16]" value="16"><!-- Daily Tips Group -->
			<input type="hidden" name="group[7773][137438953472]" value="1"><!-- Source Group -->
		</div>
		<div class="grid-third">
			<button data-processing="Signing Up..." class="btn btn-block" type="submit">Get Daily Developer Tips</button>
		</div>
	</div>
	<div class="mc-status"></div>
</form>