/**
 * @section Image Classes
 * Styling for images.
 */

/**
 * Image alignment
 */

.aligncenter {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	@extend .aligncenter;

	@media (min-width: $bp-small) {
		float: left;
		margin-right: calc-em(16px);
	}
}

.alignright {
	@extend .aligncenter;

	@media (min-width: $bp-small) {
		float: right;
		margin-left: calc-em(16px);
	}
}

.alignnone {
	@extend .aligncenter;

	@media (min-width: $bp-small) {
		margin-left: 0;
		margin-right: 0;
	}
}