{{ partial "header.html" . }}

<article>

	{{ partial "content-page-no-article.html" . }}

	<ul class="list-spaced list-spaced-small">
		{{ range .Pages }}
			<li>
				<strong><a href="{{ .URL }}">{{ .Title }}.</a></strong> {{ .Description | markdownify }} {{ if isset .Params "example" }}<em><strong>Example:</strong> {{ .Params.example | markdownify }}</em>{{ end }}
			</li>
		{{ end }}
	</ul>

	<aside>
		{{ partial "mailchimp-intro.html" . }}
		{{ partial "mailchimp-form.html" }}
	</aside>

</article>

{{ partial "footer.html" . }}